# ========================
# Build and Dependency Data
# ========================
node_modules/
dist/
package-lock.json

# ========================
# IDEs and Editors
# ========================
*.idea
.vscode

# ========================
# Linters and Formatters
# ========================
.eslintcache
.stylelintcache

# ========================
# Logs and Diagnostic Data
# ========================
*.log
npm-debug.log*
.pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# ========================
# TypeScript and Cache
# ========================
.tsbuildinfo

# ========================
# Testing and Coverage
# ========================
coverage/

# ========================
# Husky and Lint-Staged
# ========================
.husky/

# ========================
# Misc
# ========================
.npmrc
reports
scripts
*.tgz
