# ========================
# Logs and Diagnostic Data
# ========================
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# ========================
# Runtime and Process Data
# ========================
*.pid
*.seed
*.pid.lock
pids/

# ========================
# Testing and Coverage
# ========================
coverage/
.nyc_output
*.lcov
tests/
jest.config.ts

# ========================
# Build and Dependency Data
# ========================
build/Release
node_modules/
jspm_packages/
package-lock.json
web_modules/
bower_components/
.lock-wscript
.env

# ========================
# TypeScript and Cache
# ========================
*.tsbuildinfo
.tscache/
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# ========================
# Linters and Formatters
# ========================
.eslintcache
.stylelintcache

# ========================
# Parcel and Webpack
# ========================
.cache
.parcel-cache

# ========================
# Next.js and Nuxt.js
# ========================
.next
out
.nuxt
dist

# ========================
# Other Frameworks
# ========================
.cache/
.vuepress/dist
.temp
.docusaurus
.serverless/
.fusebox/
.dynamodb/

# ========================
# Misc and IDEs
# ========================
node_repl_history
*.tgz
.yarn-integrity
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
.vscode-test
.npmrc
npm-shrinkwrap.json
scripts
