node_modules/
/lib/
package-lock.json
*.idea
.vscode
.eslintcache
.stylelintcache
*.log
npm-debug.log*
.pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.tsbuildinfo
.husky/
.npmrc
reports
scripts
*.tgz
jsdoc.config.json
!/src/lib/
*.md
.github/
.babelrc
.prettierrc
package.json
